

<tr>
  <td><%= employee.name %></td>
  <td><%= employee.recieved_for?(@report.monday) %></td>
  <td><%= employee.recieved_for?(@report.tuesday) %></td>
  <td><%= employee.recieved_for?(@report.wednesday) %></td>
  <td><%= employee.recieved_for?(@report.thursday) %></td>
  <td><%= employee.recieved_for?(@report.friday) %></td>
  <td><%= employee.recieved_for?(@report.saturday) %></td>
  <td><%= employee.recieved_for?(@report.sunday) %></td>
</tr>
