<!DOCTYPE html>
<html>
  <head>
    <title>Dailyreports</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <ul class="nav nav-pills">
      <li><%= link_to "Home", :root , :class => "nav-button"%></li>
      <li><%= link_to "New Report", :new_report, :class => "nav-button"%></li>
      <li><%=link_to "Admin", "admin", :class => "nav-button" %></li>
    </ul>



    <div class="container-fluid main-container">
      <div class="container">
        <% flash.each do |name, msg| -%>
          <%= content_tag :div, msg, class: "alert alert-#{name}" %>
        <% end -%>
      </div>
      <%= yield %>
    </div>


  </body>
</html>
